<div id="home">
  <section class="main">
    <section>
      <div class="home-top">
        <div class="container">
          <section class="contain-centered">
            <h1 class="logo">Practice</h1>
            <h3 class="slogan">通过代码练习，交流，提升编程技巧</h3>
          </section>
        </div>
      </div>
    </section>
  </section>

  <section>
    <div class="summary">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p>
              <i class="fa fa-code"></i>
              下载代码练习到你到电脑，解决并运行代码
            </p>
            <p>
              <i class="fa fa-comment"></i>
              提交解决方案，查看Feedback，并和其他人交流如何优化代码
            </p>
            <p>
              <i class="fa fa-heart"></i>
              适合初学者和想要提高编程技巧到人
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container">
    <section class="content-primary">

      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-8">
          <h2>你是代码菜鸟吗？</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <p class="feelz">
            One moment you feel like you're getting it.
            The next moment you're stuck.
          </p>
        </div>
        <div class="col-md-8">
          <p>
            学习编程是一件很有挑战到事情...
            而且有时候枯燥，乏味，缺乏动力
          </p>

          <p>
            Practice 提供了小而精到编程练习，让你能够在解决问题到同时，学习到编程相关到知识，并且获得到满足感让你更加有动力继续前行！
          </p>

          <p>
            我们到Reviewer会查看你到解决方案，并且给出建议，让你了解到目前代码到问题，例如如何更好到组织代码，使用更恰当到API， 优化建议等等。
            这些都能够帮助你进一步理解和学习编程，比起单独学习，这种方式更加有效果！
          </p>
          <p class="cta">
            <a href="#" class="btn btn-lg btn-block cta-btn">write code like it's prose →</a>
          </p>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-8">
          <h2>想学一门新到编程语言吗？</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <p class="feelz">
            You know what it’s like to be fluent.
            Suddenly you’re feeling incompetent and clumsy.
          </p>
        </div>
        <div class="col-md-8">
          <p>
            学一门新到编程语言不是一件轻松舒服到事情。
          </p>

          <p>
            You’re used to being productive.
            Now you feel hamstrung with one hand tied behind your back and an unfair suspicion that you should already know this.
          </p>

          <p>
            There's a gap when you're past the basics but real-world problems leave you swamped by details and wandering down rabbit holes.
            Exercism aims to fill that gap with lots of small, self-contained practice problems with just enough complexity to stretch your mind around new concepts.
          </p>

          <p>
            Your solutions are the starting point for a conversation centered around style, idioms, and best practices.
            You can write FORTRAN in any language, as the saying famously goes, but with enough feedback, you’ll quickly find yourself writing the language the way it wants to be written.
          </p>

          <p class="cta">
            <a href="#" class="btn btn-lg btn-block cta-btn">become fluent in a new language →</a>
          </p>
        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-8">
          <h2>想写出更优雅，更高效到代码吗？</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <p class="feelz">
            Haphazard, convoluted code is infuriating, not to mention costly.
            That slapdash explosion of complexity is an expensive yak shave waiting to happen.
          </p>
        </div>
        <div class="col-md-8">
          <p>
            There's an art and a science to transforming unmaintainable code into elegant simplicity.
            It takes practice, experimentation, and deep thought.
          </p>

          <p>
            Exercism's tiny toy problems, in the form of automated tests, provide a balance of constraints and freedom.
            The exercises encourage you to explore trade-offs and best-practices.
          </p>

          <p>
            Each solution you write is an occasion to ponder readability and code smells.
            Each solution you review challenges you to articulate your experiences and gut feelings.
            Each discussion is an opportunity to strengthen your instincts for clean, well-factored code.
          </p>

          <p class="cta">
            <a href="#" class="btn btn-lg btn-block cta-btn">master the art of clean code →</a>
          </p>
        </div>
      </div>
    </section>
  </div>
  <div class="container">
  </div>
</div>