<div class="container">
  <section class="page-header">
    <h1>
      API Key: 3f7d031a1a8a4dd2b8cd64af2e3583c1
    </h1>
  </section>

  <h2>Configuration</h2>
  <p>To configure or reconfigure the exercism command-line client use the following command:</p>

  <span ng-non-bindable=""><div class="highlight plaintext"><table style="border-spacing: 0"><tbody><tr><td class="gutter gl" style="text-align: right"><pre class="lineno"><a href="#L1">1</a></pre></td><td class="code"><pre><span id="L1">exercism configure --key=3f7d031a1a8a4dd2b8cd64af2e3583c1
</span></pre></td></tr></tbody></table>
</div>
</span>

  <hr>

  <form action="/account/key/reset" method="post" class="ng-pristine ng-valid">
    <input type="hidden" name="_method" value="put">
    <input type="submit" value="Reset key" class="btn btn-danger">
  </form>
</div>